* {
  background: rgba(0,0,0,0.05);
}
aside {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 29.333333333333297%;
  margin-left: 0%;
  margin-right: 6%;
}
aside:before,
aside:after {
  content: '';
  display: table;
}
aside:after {
  clear: both;
}
aside:last-child {
  margin-right: 0%;
}
article {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 64.6666666666667%;
  margin-left: 0%;
  margin-right: 6%;
}
article:before,
article:after {
  content: '';
  display: table;
}
article:after {
  clear: both;
}
article:last-child {
  margin-right: 0%;
}
