* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
* {
  background: rgba(0,0,255,0.05);
}
.container {
  *zoom: 1;
  width: auto;
  max-width: 800px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.container:before,
.container:after {
  content: '';
  display: table;
}
.container:after {
  clear: both;
}
.logo {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 20%;
  margin-left: 0%;
  margin-right: 0%;
}
.logo:before,
.logo:after {
  content: '';
  display: table;
}
.logo:after {
  clear: both;
}
nav {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 60%;
  margin-left: 20%;
  margin-right: 0%;
}
nav:before,
nav:after {
  content: '';
  display: table;
}
nav:after {
  clear: both;
}
.gallery {
  *zoom: 1;
  width: auto;
  max-width: 800px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.gallery:before,
.gallery:after {
  content: '';
  display: table;
}
.gallery:after {
  clear: both;
}
.gallery img {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.gallery img:first-child {
  margin-left: auto;
}
.gallery img:last-child {
  margin-right: auto;
}
@media (min-width: 500px) {
  .gallery img {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 50%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .gallery img:before,
  .gallery img:after {
    content: '';
    display: table;
  }
  .gallery img:after {
    clear: both;
  }
  .gallery img:nth-child(2n) {
    float: right;
  }
  .gallery img:nth-child(2n + 1) {
    clear: both;
  }
}
@media (min-width: 800px) {
  .gallery img {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 33.3333333333333%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .gallery img:before,
  .gallery img:after {
    content: '';
    display: table;
  }
  .gallery img:after {
    clear: both;
  }
  .gallery img:nth-child(3n) {
    float: right;
  }
  .gallery img:nth-child(3n + 1) {
    clear: both;
  }
  .gallery img:nth-child(2n) {
    float: left;
  }
  .gallery img:nth-child(2n + 1) {
    clear: none;
  }
}
