@import '../../../bower_components/jeet/stylus/jeet'

edit()

*
  margin: 0
  padding: 0
  font-family: sans-serif

section
  max-width: 1000px
  margin: auto

.half
  col(1/2)

.half-inner
  col(1/2)
